@charset "utf-8";

html{
    font-size: 62.5%;
      line-height: 1.5em;
    /*デフォルトのフォントサイズを10pxに。1remが10px*/
}
body{
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333333;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

body *{
   box-sizing: inherit;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
}


/*共通設定ここから*/
.viewpc{
  display: block;
}
.viewmb{
  display: none;
}
/*共通設定ここまで*/


/*ヘッダーここから*/

header{
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  position:absolute;
  z-index: 1;
}

header .inner{
  width: 960px;
  margin: 0 auto;
  padding: 17px 0 0 0;
}

header .inner p{
  color: #0D8F7B;
  margin: 0 0 10px 37px;
  font-size: 1.2rem;
}

header .inner .headerlogo{
  float: left;
  margin-left: 37px;
}

header .inner .headerlogo img{
  width: 284px;
}


header .inner nav{
  float: right;
  margin-right: 37px;
  font-size: 1.4rem;
}

header .inner ul{
  /*flexboxで追加する*/
  display:flex;
  flex-direction: row;
}

header .inner ul li{
  font-weight: bold;;
  list-style-type: none;
  /*float: left;*/
  margin-right: 28px;
  padding: 0 0 5px 0;
}

header .inner ul li:last-child{
  margin-right: 0;
}

header .inner ul li a{
  color: #333333;
  text-decoration: none;
}

header .inner ul li a:hover{
  color: #5BBCAD;
}

header .inner ul li.current{
  border-bottom: 5px solid #5BBCAD;
}




/*ヘッダーここまで*/

/*メインここから*/
main .mainimage{
  width: 100%;
  height: 560px;
  background-color: #E1FAFF;
  text-align:center;
}


main .mainimage div{

}


main .mainclolum{
width: 100%;
position: absolute;
z-index: 1;
}

main .mainclolum .inner{
  width: 960px;
  margin:-69px auto 0;
  display: flex;/*flexbox追加*/
  flex-direction: row;

}


main .mainclolum .inner section{
  width: 275px;
  height: 275px;
  border-radius: 138px;
  background-color: #5BBCAD;
  text-align:center;
  /*float: left;*/
  margin-right: 67px;
}



main .mainclolum .inner section:last-child{
  margin-right: 0;
}

main .mainclolum .inner .mainclolum_icon{
  margin-top: 19px;
}

main .mainclolum .inner .mainclolum_icon_system{
  margin-top: 14px;
}


main .mainclolum .inner .mainclolum_title{
  margin-top: 12px;
}


main .mainclolum .inner .mainclolum_title_system{
  margin-top: 3px;
}
main .mainclolum .inner section p{
  color: #ffffff;
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
}


main .mainclolum .inner .mainclolum_btn a{
  background-color: #FFA800;
  border-radius: 17px;
  width: 130px;
  height: 32px;
  display: block;
  margin: 11px auto 0;
  text-decoration: none;
  line-height: 32px;
  color: #FFFFFF;
  font-size: 1.6rem;
}

main .mainclolum .inner .mainclolum_btn a svg{
  margin-left: 4px;
  stroke: #ffffff;
  width: 9px;
  height: 12px;
}

main .mainclolum .inner .mainclolum_btn a:hover{
  background-color: #ffffff;
  color: #5BBCAD;
}

main .mainclolum .inner .mainclolum_btn a:hover svg{
  stroke: #5BBCAD;
}

main .informationarea{
  /*clear: both;*/
  width: 100%;
  background-color: #F0F0F0;
  margin-top: 240px;
  /*overflow: hidden;*/
}

main .informationarea .inner{
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

main .informationarea .inner .mainindormation{
  /*float: right;*/
  width: 630px;
  margin: 30px 0 30px 0;

}

main .informationarea .inner .mainfacebook{
  width: 300px;
  height: 380px;
  background-color: #ffffff;
  margin: 30px 30px 30px 0;
  text-align: center;
  line-height: 380px;
}

main .informationarea .inner .mainindormation h2{
  font-size: 1.6rem;
  border-bottom: 4px solid #C4C4C4 ;
  padding-bottom: 10px;
  position: relative;
}

main .informationarea .inner .mainindormation h2:before{
  content: "";
  position:absolute;
  left: 0;
  bottom: -4px;
  width: 67px;
  border-bottom: 4px solid #5BBCAD ;
}

.mainindormation dt,dd{
  padding: 0;
  margin: 0;
}

.mainindormation .mainindormationtable {
  width: 640px; /* テーブルの横幅を500pxに指定 */
  display: flex;/* 子要素のdtとddを横並びにする */
  flex-wrap:wrap;/* 1つのdtとddで1行になるよう改行させる */
  font-size: 1.4rem;
  line-height: 1.5em;
}


.mainindormation .mainindormationtable dt{
    width: 100px; /* dt（見出し項目）の横幅を200pxに指定 */
    background-color: #666666;
    border-left: 4px solid #5BBCAD;
    color: #ffffff;
    margin: 0 20px 0 0;;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
.mainindormation .mainindormationtable dd {
    width: calc(100% - 120px); /* テーブル幅からdtを引いた分の横幅を指定。 */
    margin-bottom: 15px;
}




/*メインここまで*/

/*フッターここから*/
footer{
  font-size: 1.6rem;
  width: 100%;
  background-color: #CFCFCF;
}

footer .inner{
  padding: 50px 0 61px 0;
  margin: 0 auto;
  width: 960px;
  display: flex;
}
footer .inner address{
  width: 300px;
  line-height: 1.5em;
  /*float: left;*/
  font-style: normal;
}

footer .inner address img{
  margin-bottom: 23px;
}

footer .inner .ftr_navi{
  margin-left: 65px;
  display: flex;
  flex-direction: row;
}

footer .inner .ftr_navi ul{
  width: 140px;
  margin: 0 16px 0px 0 ;
  padding: 0;
}

footer .inner .ftr_navi ul:last-child{
  margin: 0 0 30px 0;
}

footer .inner .ftr_navi ul a{
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin: 0 0 23px 0;
}

footer .inner .ftr_navi ul a:hover{
  text-decoration: underline;
}



footer .inner .ftr_navi ul li{
  list-style-type: none;
}

footer .inner .ftr_navi ul li ul{

}







footer .copyright{
  clear: both;
  margin: 0 auto;
  background-color: #5BBCAD;
  height: 100px;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 100px;
}







/*フッターここまで*/

/*固定表示ここから*/

.test dt,dd {
    margin: 0; /* ブラウザの初期値をクリア */
    padding: 0; /* ブラウザの初期値をクリア */
}
.test .dlTable {
    width: 500px; /* テーブルの横幅を500pxに指定 */
    display: flex; /* 子要素のdtとddを横並びにする */
    flex-wrap: wrap; /* 1つのdtとddで1行になるよう改行させる */
}
.test .dlTable dt {
    width: 200px; /* dt（見出し項目）の横幅を200pxに指定 */
}
.test .dlTable dd {
    width: calc(100% - 200px); /* テーブル幅からdtを引いた分の横幅を指定。 */
}
